VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=relay-app-f7bbc.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=relay-app-f7bbc
VITE_FIREBASE_STORAGE_BUCKET=relay-app-f7bbc.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=881285746131
VITE_FIREBASE_APP_ID=
VITE_MAX_VOICE_SECONDS=30
VITE_MAX_TEXT_LENGTH=250
